<ion-header class="ion-no-border" style="background-color: #F77962;">
  <ion-toolbar color="dark">
    <ion-img style="margin: 10px; height: auto;" src="assets/banner/Banner2.png" ></ion-img>
    <!-- <ion-title color="warning">
      
    </ion-title> -->
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-tabs color="dark">
    <ion-tab-bar slot="top" slot="fixed" style="background-color: #F77962;"> 
      <ion-tab-button  routerLink="/home" style="background-color: #F77962;">
        <ion-icon name="home" color="dark"></ion-icon>HOME
      </ion-tab-button>
  
      <ion-tab-button routerLink="/rules" style="background-color: #F77962;">
        <ion-icon name="warning" color="dark"></ion-icon>RULES
      </ion-tab-button>
  
      <ion-tab-button routerLink="/objective" style="background-color: #F77962;">
        <ion-icon name="invert-mode" color="dark"></ion-icon>OBJECTIVE OF THE GAME
      </ion-tab-button>
     
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>

<ion-content color="dark">
  <div>
    <ion-card *ngFor="let article of articles" style="--ion-background-color: #008c91;">
      <ion-card-content>
        <div class="img-wrapper" >
          <h1 class="h1"> "{{article.title}}" </h1>
          <ion-img style="width=100%"src="assets/images/winning.webp"></ion-img>          
          <h2> "{{article.desc}}" </h2>
          <i> <b style="color: black;"> Photo Credit to: "{{article.owner}}" </b> </i>
        </div>
        
        <!-- <ion-card-header>
          <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
        </ion-card-header> -->
     
          <!-- <p>
            {{news.publishedAt | date}}
          </p> -->
      </ion-card-content>
      <div class="ion-text-center">
      <!-- <ion-button ion-button fill="outline" href="{{article.url}}" large>READ FULL ARTICLE</ion-button> -->
      </div>
  
    </ion-card>
  </div>

  <div *ngIf="">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  
    <ion-list>
      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer> 
  <ion-toolbar >
    <ion-tabs >
      <ion-tab-bar slot="bottom" slot="fixed" style="background-color: #F77962;">
        <ion-tab-button  routerLink="/equipment" style="background-color: #F77962;">
          <ion-icon name="construct" color="dark"></ion-icon>EQUIPMENTS
        </ion-tab-button>
    
        <ion-tab-button routerLink="/scoring" style="background-color: #F77962;">
          <ion-icon name="easel" color="dark"></ion-icon>SCORING
        </ion-tab-button>
    
        <ion-tab-button routerLink="/winning" style="background-color: #F77962;">
          <ion-icon name="medal" color="dark"></ion-icon>WINNING THE GAME
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

