#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

  h1 { 
    color: #03202a;
  }
  h2 {
    color: #03202a;
  }
  h3 {
    color: #03202a;
  }
  h4 {
    color: #03202a;
  }
  h5 {
    color: #03202a;
  }
  h6 {
    color: #03202a;
  }
  p {
    color: #03202a;
  }

#ion-img-top {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 5px;
  height: auto;
  margin-right: 10px;
  margin-left: 0px;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
